<h1>Log In</h1>

<%= form_with model: @teacher, url: '/login' do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name, :required => true %>
    <br/><br/>
    <%= f.label :password %>:
    <%= f.password_field :password, :required => true %>
    <br/><br/>
    <%= f.label :password_confirmation, "Confirm Password" %>: 
    <%= f.password_field :password_confirmation %>
    <br/><br/>
    <%= f.submit "Log In" %>
<% end %>