<h1><%= @subject.name %></h1>

<h3><%= @subject.name %> Teachers</h3>
<ul>
  <% @subject.teachers.uniq.each do |t|%>
    <li><strong><%= link_to "#{t.name}", teacher_path(t) %></strong>, email: <%= t.email %> </li>
  <% end %>
</ul>

<h3><%= link_to "View #{@subject.name} Courses", subject_courses_path(@subject) %></h3>
<br/>

<%= link_to "Add a new #{@subject.name} course", new_subject_course_path(@subject) %>
