<h1>New Teacher Sign Up: </h1>
<p>Enter all information in order to sign up.</p>

  <%= render partial: 'layouts/messages', locals: {object: @teacher} %>

<%= form_with model: @teacher, url: signup_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
    <br/><br/>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br/><br/>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
    <br/><br/>
    <%= f.label :password_confirmation, "Confirm Password" %> 
    <%= f.password_field :password_confirmation %>
    <br/><br/>
    <%= f.submit "Submit" %>

<% end %>
