<h1><%= @teacher.name %></h1>

<p><%= @teacher.email %></p>
<%= flash[:notice] %>

<h2><%= "#{@teacher.name}'s Courses:" %></h2>
<ul>
<% @teacher.courses.alpha.each do |c| %>
    <li><%= link_to "#{c.title}", course_path(c) %>, subject - <%= link_to "#{c.subject.name}", subject_path(c.subject) %></li>
<% end %>
</ul>

<%= display_add_link %>