
<%= form_with model: @course do |f| %>
    <div>
        <%= f.label :title, "Course title" %><br/>
        <%= f.text_field :title, placeholder: "Course title" %>
    </div><br/>

    <div>
        <%= f.label :size, "Class size" %><br/>
        <%= f.number_field :size, placeholder: "Maximum number" %>
    </div><br/>

    <div>
        <%= f.label :size, "Prerequisites" %><br/>
        <%= f.text_field :prerequisites, placeholder: "List all" %>
    </div><br/>

    <div>
        <%= f.label :requirements, "Course requirements" %><br/>
        <%= f.collection_check_boxes :requirement_ids, Requirement.all, :id, :name %><br/>
        <h4><%= f.label :new_requirement_attributes, "or enter a new requirement: " %></h4>
        <%= f.fields_for :new_requirement_attributes do |n|%>
            <%= n.text_field :name %>
        <% end %>
    </div><br/>

    <% if !params[:subject_id] %>
        <div>
            <%= f.label :subject_id, "Choose a subject area" %><br/>
            <%= f.collection_select( :subject_id, Subject.all, :id, :name, {:include_blank => true}) %>
        </div>

        <div>
            <h4>or enter a new subject: </h4>
            <%= f.fields_for :subject do |s| %>
                <%= s.label :name, "Name: " %>
                <%= s.text_field :name, value: "" %>
            <% end %>
        </div><br/>
    <% else %>
        <%= f.hidden_field :subject_id %>
    <% end %>

    <div>
        <%= f.submit %>
    </div>


<% end %>