
<%= form_with model: @course do |f| %>
    <div>
    <%= f.label :title, "Course title: " %>
    <%= f.text_field :title, placeholder: "Course title" %>
    </div><br/>
    <div>
    <%= f.label :size, "Class size: " %>
    <%= f.number_field :size, placeholder: "Maximum number" %>
    </div><br/>
    <div>
    <%= f.label :size, "Prerequisites: " %>
    <%= f.text_field :prerequisites, placeholder: "List all" %>
    </div><br/>
    <div>
    <%= f.label :requirements, "Course requirements: " %>
    <%= f.collection_check_boxes :requirement_ids, Requirement.all, :id, :name %>
    <%= f.label :new_requirement_attributes, "or enter a new requirement: " %>
    <%= f.fields_for :new_requirement_attributes do |n|%>
        <%= n.text_field :name %>
    <% end %>
    </div><br/>
    <div>
    <%= f.label :subject_id, "Choose a subject area: " %>
    <%= f.collection_select( :subject_id, Subject.all, :id, :name, {prompt: true}) %>
    <%= f.label :subject_attributes, "or enter a new subject: " %>
    <%= f.fields_for :subject_attributes do |n|%>
        <%= n.text_field :name %>
    <% end %>
    </div><br/>
    <div>
    <%= f.submit %>
    </div>


<% end %>