<h1><%= @course.title %></h1>

<b>Subject area: </b><%= link_to "#{@course.subject.name}", subject_path(@course.subject) %>
<br/>
<b>Prerequisites: </b><%= @course.prerequisites %>
<br/>
<b>Teacher: </b><%= link_to "#{@course.teacher.name}", teacher_path(@course.teacher) %>
<br/>
<b>Teacher email: </b><%= @course.teacher.email %>
<br/>
<b>Requirements: </b>
    <ul>
        <% @course.requirements.each do |r| %>
            <li><%= r.name %></li>
        <% end %>
    </ul>
<br/><br/>

<%= edit_link %>
<%= delete_link %>


